/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Noto Sans TC';
}

.swap{
  width: 1280px;
  margin: 0 auto;
}

header{
  height: 80px;
  color: #387C57;
  padding: 28px 50px;
  display: flex;
  justify-content: space-between;
}

header h1{
  font-size: 24px;
}

header a{
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  padding: 11px 20px;
  margin: 0 6px;
  color: #1D1D1D;
}

header a:hover{
  transform: scale(1.15);
}

main{
  padding: 27px 97px 42px 50px;
  display: flex;
  color: #387C57;
}

main .title h2{
  font-size: 48px;
  margin-top: 12px;
}

main .title h3{
  font-size: 24px;
  margin-top: 185px;
}

main img{
  margin-left: 112px;
}


footer{
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: relative;
}

footer h3{
  font-size: 24px;
}

footer .login-to-lottery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background: #35BF79;
  padding: 18px 48px;
  color: #FFFFFF;
}

footer a:hover{
  transform: scale(1.15);
}

footer .login-to-lottery a{
  color: #FFFFFF;
  border-radius: 22px;
  padding: 11px 20px;
  border: 1px solid #FFFF;
}

footer .lottery-num{
  background: #FFFFFF;
  padding: 6px 18px;
  color: #387C57;
  border-radius: 44px;
  margin: 0 12px;
}

footer .view-ranking{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  background: #ADE653;
  padding: 18px 48px;
}

footer .view-ranking a{
  color: #387C57;
  border-radius: 22px;
  padding: 11px 20px;
  border: 1px solid #387C57;
}

footer .contestant-num{
  background: #FFFFFF;
  padding: 6px 18px;
  color: #387C57;
  border-radius: 12px;
  margin: 0 12px;
}

.notice{
  position: absolute;
  background: #387C57;
  padding: 11px 20px;
  border-radius: 22px;
  top: -66px;
  left: 50px;
  color: #FFFF;
}

.notice img{
  position: absolute;
  bottom: -15px;
  left: 35px;
}