/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #F2F2F2;
}

.home-btn {
  display: inline-block;
  text-decoration: none;
  background: #387C57;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 22px;
  border: 0;
  margin-top: 30px;
}

.home-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Calculate-swap {
  margin: 0 auto;
  max-width: 1280px;
}

.Calculate-swap .Calculate-content {
  background: #FFFFFF;
  margin-top: 42px;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
}

.Calculate-swap .Calculate-content > input {
  background: #35BF79;
  color: #FFFFFF;
  font-size: 24px;
  padding: 6px 24px;
  border-radius: 22px;
  border: 0;
  -webkit-box-shadow: 3px 3px 10px gray;
          box-shadow: 3px 3px 10px gray;
}

.Calculate-swap .Calculate-content .calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 24px;
}

.Calculate-swap .Calculate-content .calculate > input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Calculate-swap .Calculate-content .calculate .input-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 6px;
  text-align: left;
  color: #979797;
  font-size: 14px;
  position: relative;
}

.Calculate-swap .Calculate-content .calculate .input-group input {
  width: 100%;
  height: 44px;
  margin-top: 4px;
  border: #E2E2E2 1px solid;
  padding: 11px 16px;
  font-size: 16px;
  border-radius: 22px;
}

.Calculate-swap .Calculate-content .half-circle {
  position: absolute;
  font-size: 16px;
  top: 33px;
  right: 20px;
}

.Calculate-swap .Calculate-content .calculate-btn {
  height: 44px;
  background: #387C57;
  color: #FFFFFF;
  font-size: 16px;
  padding: 11px 28px;
  border-radius: 22px;
  border: 0;
  margin: 0 6px;
}

.Calculate-swap .Calculate-content .remove-all-btn {
  height: 44px;
  background: #FFFFFF;
  color: #1D1D1D;
  font-size: 16px;
  padding: 11px 28px;
  border-radius: 22px;
  border: #E2E2E2 1px solid;
  margin: 0 6px;
}

.Calculate-swap .Calculate-content .calculate-history {
  background: #F2F2F2;
  border-radius: 8px;
  margin-top: 32px;
  padding: 20px;
}

.Calculate-swap .Calculate-content .empty-history {
  color: #979797;
  margin: 28px 0;
}

.Calculate-swap .Calculate-content .bmi-list {
  background: #F2F2F2;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px gray;
          box-shadow: 3px 3px 10px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Calculate-swap .Calculate-content .bmi-list h4 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Calculate-swap .Calculate-content .bmi-list span {
  color: #979797;
}

.Calculate-swap .Calculate-content .last-time {
  background: #f5f5f5;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.Calculate-swap .bmi-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0;
  padding: 0 205px;
}

.Calculate-swap .bmi-description h4 {
  font-size: 14px;
  color: #979797;
  margin-bottom: 4px;
}

.Calculate-swap .error-message {
  height: 16px;
  margin-top: 16px;
  color: #ff004c;
}

.Calculate-swap .blue-text {
  color: blue;
}

.Calculate-swap .red-text {
  color: red;
}

.Calculate-swap .orange-text {
  color: orange;
}

.Calculate-swap .yellow-text {
  color: #e4e400;
}

.Calculate-swap .black-text {
  color: black;
}

.Calculate-swap .green-text {
  color: green;
}

.Calculate-swap .display-none {
  display: none;
}

.Ranking-swap {
  width: 1280px;
  margin: 0 auto;
}

.Ranking-swap .display-none {
  display: none;
}

.Ranking-swap h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 38px;
}

.Ranking-swap h5 {
  font-size: 14px;
  color: #979797;
}

.Ranking-swap .team-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
}

.Ranking-swap .team-rank .card {
  width: 532px;
  background: #FFFFFF;
  padding: 24px 0;
  border-radius: 16px;
  margin-bottom: 48px;
  position: relative;
}

.Ranking-swap .team-rank .card .card-header {
  padding: 0 24px;
}

.Ranking-swap .team-rank .card .card-content {
  border-top: solid #E2E2E2 1px;
  border-bottom: solid #E2E2E2 1px;
  padding: 16px 24px;
  margin: 16px 0;
}

.Ranking-swap .team-rank .card .card-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 12px;
  background: #F2F2F2;
  border-radius: 8px;
  margin: 6px 0;
}

.Ranking-swap .team-rank .card .card-content li :first-child {
  text-decoration: underline;
}

.Ranking-swap .team-rank .card img {
  position: absolute;
  right: -20px;
  top: -25px;
}

.Ranking-swap .team-rank .card .people-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin-top: 16px;
}

.Ranking-swap .team-rank .card .people-time h5 {
  margin-bottom: 6px;
}

.Ranking-swap .team-rank .rank-img-0, .Ranking-swap .team-rank .rank-img-1, .Ranking-swap .team-rank .rank-img-2 {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 86px;
  height: 100px;
}

.Ranking-swap .team-rank .rank-img-0 {
  background: url("/image/first.png") no-repeat center;
}

.Ranking-swap .team-rank .rank-img-1 {
  background: url("/image/second.png") no-repeat center;
}

.Ranking-swap .team-rank .rank-img-2 {
  background: url("/image/third.png") no-repeat center;
}

.Ranking-swap .team-rank .actively-team {
  width: 640px;
  background: #ADE653;
  padding: 72px 48px 48px 60px;
  border-radius: 0px 32px 0px 0px;
}

.Ranking-swap .team-rank .actively-team h2 {
  color: #387C57;
}

.Ranking-swap .team-rank .fastly-team {
  width: 640px;
  background: #35BF79;
  padding: 72px 60px 48px 48px;
  border-radius: 0px 0px 0px 32px;
  margin-top: 64px;
}

.Ranking-swap .team-rank .fastly-team h2 {
  color: #555555;
}

.Ranking-swap .personal-rank {
  margin-top: 72px;
  padding: 0 50px;
}

.Ranking-swap .personal-rank h2 {
  color: #555555;
  font-size: 36px;
}

.Ranking-swap .personal-rank h5 {
  margin-right: 12px;
}

.Ranking-swap .personal-rank button {
  color: #1D1D1D;
  padding: 11px 20px;
  border-radius: 30px;
  border: 1px solid #E2E2E2;
  margin: 0 6px;
  background: #FFFFFF;
  font-size: 16px;
}

.Ranking-swap .personal-rank button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Ranking-swap .personal-rank .search {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
  margin-bottom: 36px;
  border-radius: 12px;
}

.Ranking-swap .personal-rank .search .btn-group {
  position: relative;
  margin-left: auto;
}

.Ranking-swap .personal-rank .search .btn-group button {
  background: #387C57;
  position: absolute;
  color: #FFFFFF;
  right: 0;
}

.Ranking-swap .personal-rank .search .btn-group button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.Ranking-swap .personal-rank .search .btn-group input {
  width: 356px;
  padding: 12px 0 12px 44px;
  font-size: 16px;
  border-radius: 22px;
  border: 1px solid #E2E2E2;
  margin-right: 10px;
}

.Ranking-swap .personal-rank .search .btn-group i {
  position: absolute;
  left: 17px;
  top: 12px;
  color: #387C57;
  font-size: 18px;
}

.Ranking-swap .personal-rank .search-content h4 {
  color: #979797;
  margin-left: 15px;
}

.Ranking-swap .personal-rank .search-content .card-render {
  margin-top: 12px;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card {
  background: #FFFFFF;
  border-radius: 16px;
  -webkit-box-shadow: 0px 1px 2px #00000029;
          box-shadow: 0px 1px 2px #00000029;
  padding: 24px 0;
  margin: 12px 0;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .header {
  padding: 0 24px;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .header :first-child {
  background: #FFCD03;
  color: #1D1D1D;
  margin-left: 0;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .header :nth-child(2) {
  background: #35BF79;
  color: #FFFFFF;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .header :nth-child(3) {
  background: #F2F2F2;
  color: #1D1D1D;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .header span {
  padding: 8px 11px;
  border-radius: 23px;
  margin: 0 6px;
  font-size: 14px;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .header h3 {
  margin: 20px 0 8px;
  font-size: 18px;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .content {
  padding: 16px 24px;
  border-top: #E2E2E2 1px solid;
  border-bottom: #E2E2E2 1px solid;
  margin: 16px 0;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .content h5 {
  font-size: 14px;
  color: #979797;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .content p {
  margin-top: 10px;
  color: #555555;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .footer a {
  padding: 8px 11px;
  border-radius: 23px;
  margin: 0 6px;
  font-size: 14px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  color: #1D1D1D;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .footer a:hover {
  background: #eeeeee;
}

.Ranking-swap .personal-rank .search-content .personal-rank-card .footer span {
  margin-left: auto;
  color: #979797;
  font-size: 14px;
}

.Ranking-swap footer {
  margin: 97px 0 4px;
  text-align: center;
  color: #979797;
  font-size: 14px;
  padding: 16px 0;
  background: #FFFFFF;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans TC';
}

.index-swap {
  width: 1280px;
  margin: 0 auto;
}

.index-swap .index-header {
  height: 80px;
  color: #387C57;
  padding: 28px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-swap .index-header h1 {
  font-size: 24px;
}

.index-swap .index-header a {
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  padding: 11px 20px;
  margin: 0 6px;
  color: #1D1D1D;
}

.index-swap .index-header a:hover {
  background: #ebebeb;
}

.index-swap .index-header a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.index-swap .bmi-banner {
  padding: 27px 97px 42px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #387C57;
}

.index-swap .bmi-banner .title h2 {
  font-size: 48px;
  margin-top: 12px;
}

.index-swap .bmi-banner .title h3 {
  font-size: 24px;
  margin-top: 185px;
}

.index-swap .bmi-banner img {
  margin-left: 112px;
}

.index-swap .index-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  position: relative;
}

.index-swap .index-footer h3 {
  font-size: 24px;
}

.index-swap .index-footer .login-to-lottery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background: #35BF79;
  padding: 18px 48px;
  color: #FFFFFF;
}

.index-swap .index-footer a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.index-swap .index-footer .login-to-lottery a {
  color: #FFFFFF;
  border-radius: 22px;
  padding: 11px 20px;
  border: 1px solid #FFFF;
}

.index-swap .index-footer .lottery-num {
  background: #FFFFFF;
  padding: 6px 18px;
  color: #387C57;
  border-radius: 44px;
  margin: 0 12px;
}

.index-swap .index-footer .view-ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background: #ADE653;
  padding: 18px 48px;
}

.index-swap .index-footer .view-ranking a {
  color: #387C57;
  border-radius: 22px;
  padding: 11px 20px;
  border: 1px solid #387C57;
}

.index-swap .index-footer .contestant-num {
  background: #FFFFFF;
  padding: 6px 18px;
  color: #387C57;
  border-radius: 12px;
  margin: 0 12px;
}

.index-swap .notice {
  position: absolute;
  background: #387C57;
  padding: 11px 20px;
  border-radius: 22px;
  top: -66px;
  left: 50px;
  color: #FFFF;
}

.index-swap .notice img {
  position: absolute;
  bottom: -15px;
  left: 35px;
}
